<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>All Names of Uploaded PDFs</h2>
        <ul class="file-list">
            {% for file in files %}
                <li class="file-item">{{ file }}</li>
            {% endfor %}
        </ul>
        <div>
            <a href="{{ url_for('upload_form') }}">Upload more files</a>
            <a href="{{ url_for('conversation') }}">Have a conversation with all uploaded files</a>
        </div>
    </div>
</body>
</html>
